<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:>
<head>
    <meta charset="UTF-8"/>
    <title>Spring Boot Thymeleaf Application - Bootstrap Rich Text Editor</title>

    <link th:rel="stylesheet" th:href="@{/assets/summernote/summernote-bs4.css}"/>
    <link th:rel="stylesheet" th:href="@{/webjars/bootstrap/4.0.0-2/css/bootstrap.min.css} "/>

    <style>
        /* CSS for the horizontal line */
        hr {
            border: none;
            border-top: 2px solid #000; /* You can change the color and thickness */
            margin: 20px 0; /* Adjust the margin as needed to control the space above and below the line */
        }
        .form-group {
            display: flex;
            justify-content: space-between;
        }
        .form-group textarea {
            width: 48%; /* Adjust the width as needed */
        }
    </style>
</head>
<body>

<div class="container">

    <div class="row">
        <div class="col-md-8  col-first">
            <form method="post" th:action="@{/decode}" th:object="${post}">

                <div class="form-group">
                    <textarea type="text" rows="6" id="JWT" placeholder="JWT" class="form-control"
                              th:field="*{jwt}" autocomplete="off"></textarea>
                </div>

                <div class="form-group">
                <textarea type="text" rows="6" id="JWK1" placeholder="JWK1" class="form-control"
                          th:field="*{jwk}" autocomplete="off"></textarea>
                </div>

                <button class="btn btn-primary" type="submit">Decode JWT</button>

            </form>
            <div class="col-sm-12 mt-5 col-last">
                <div th:each="entry : ${data}">
                    <br>
                    <p th:text="${entry.key} + ': ' + ${entry.value}"></p>
                </div>
            </div>
        </div>
    </div>

</div>
<hr> <!-- Horizontal line -->
<hr> <!-- Horizontal line -->
<div class="container">
    <div class="row">
        <div class="col-md-8  col-first">
            <form th:object="${encode}" th:action="@{/encode}" method="post">

                <h3>Header</h3>

                <div class="form-group">
                    <textarea type="text" rows="6" id="headerJWT" placeholder="headerJWT" class="form-control"
                              th:field="*{headerJson}" autocomplete="off"></textarea>
                </div>

                <h3>Body</h3>

                <div class="form-group">
                    <textarea type="text" rows="6" id="bodyJWT" placeholder="bodyJWT" class="form-control"
                              th:field="*{bodyJson}" autocomplete="off"></textarea>
                </div>

<!--                <select th:field="*{algorithm}">-->
<!--                    <option th:value="'ES256'" th:text="ES256"></option>-->
<!--                    <option th:value="'ES384'" th:text="ES384"></option>-->
<!--                    <option th:value="'ES512'" th:text="ES512"></option>-->
<!--                    <option th:value="'RS256'" th:text="RS256"></option>-->
<!--                    <option th:value="'RS384'" th:text="RS384"></option>-->
<!--                    <option th:value="'RS512'" th:text="RS512"></option>-->
<!--                    <option th:value="'PS256'" th:text="PS256"></option>-->
<!--                    <option th:value="'PS384'" th:text="PS384"></option>-->
<!--                    <option th:value="'PS512'" th:text="PS512"></option>-->
<!--                </select>-->

                <button class="btn btn-primary" type="submit">Encode JWT</button>
                <br><br>
                <div>
                    optionally, if empty, will generate a random one
                </div>
                <br><br>
                <div class="form-group">
                    <textarea type="text" rows="6" id="jwk2" placeholder="jwk2" class="form-control"
                              th:field="*{jwk}" autocomplete="off"></textarea>
                </div>
                <br><br>

                <div class="form-group">
                    <textarea type="text" rows="6" id="encodedJWT" placeholder="encodedJWT" class="form-control"
                              th:field="*{encodedJWT}" autocomplete="off"></textarea>
                </div>


            </form>

        </div>
    </div>
</div>

</body>
</html>
